{
  "base": {
    "todoist_token": "",
    "todoist_project_id": ""
  },
  "report": {
    "todoist_section_names": [],
    "todoist_label_names": [],
    "slack_token": "",
    "slack_channel": ""
  },
  "notion_csv": {
    "todoist_section_names": [],
    "todoist_label_names": [],
    "output_path": ""
  }
}
